@charset "ISO-8859-1";

@import
	url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800&display=swap")
	;

* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
	/* color: black; */
}

body {
	font-family: Montserrat, Arial, sans-serif;
}

.restPassword-form {
	margin-top:10%;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.restPassword-box {
	background-color: rgba(0, 0, 0, 0);
	width: 350px;
	padding: 15px;
	border-radius: 16px;
	box-shadow: 0 0 10px #000000;
}

/* CSS for form layout */
form {
	width: 300px;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="email"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 5px;
	border-radius: 8px;
	border-color: black;
}

button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: #dd2d4a;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 8px;
}

button:hover {
	background-color: #880d1e;
}

.closebtn:hover {
	color: black;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
	form {
		max-width: 100%;
	}
}