<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TuneHub</title>
<link rel="stylesheet" th:href="@{/css/forgotPassword.css}">

</head>
<body>

 <div class="restPassword-form">
		<div class="restPassword-box">
			<form action="/reSetPassword" method="post">
				<label>Email</label> <input type="email" name="email"
					placeholder="Ente Email" required> <label>Password</label>
				<input type="password" name="password" placeholder="Ente password"
					required>
				<button id="alertButton">Reset Password</button>
			</form>
		</div>
	</div>
<script>
document.getElementById('alertButton').addEventListener('click', function() {
    localStorage.setItem('showAlert', true);});
</script>

<!-- JavaScript to show alert only when requested -->
    <script th:inline="javascript">
        // Check if the button was clicked to request the alert
        var showAlert = localStorage.getItem('showAlert');
        if (showAlert) {
            var condition = /*[[${condition}]]*/ false; // Retrieve the condition from Thymeleaf
            if (condition) {
                alert('Password reset successful!');
            } else {
                alert('Pssword reset fail or Invalid Email!');
            }
            // Remove the flag after showing the alert
            localStorage.removeItem('showAlert');
        }
    </script>
</body>
</html>