<!DOCTYPE html>
<html lang="eg"  xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="ISO-8859-1">
<title>TuneHub</title>
<link  rel="stylesheet" th:href="@{/css/index.css}">
   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
</head>
<body>
    <header class="header">
      <div class="logo">
        <i class="fa-solid fa-guitar logo-syb" style="color: #880d1e"></i>
        <p class="logo-tune">Tune</p>
        <p class="logo-hub">Hub</p>
      </div>

      <div class="login-reg">
        <li><a href="/map-login">Login</a></li>
        <li><a href="/map-register">Register</a></li>
      </div>
    </header>
    <section class="section">
      <div class="side-A">
        <p class="welcome-text1">Join TuneHub today!</p>
        <p class="welcome-text2">The ultimate music hub for you.</p>
        <p class="welcome-text3">
          Don’t miss this opportunity to join the music revolution. Download
          TuneHub today and start your musical journey. TuneHub is a music
          application and easy to set up. All you need is your passion for music
          and your creativity. TuneHub is waiting for you! 🎵
        </p>
        <div class="welcome-text4">
          <pre class="pre">
            <p><Strong>100+</Strong>
Artists
            </p>
            <p><Strong>100+</Strong>
Playlists
            </p>
            <p><Strong>100+</Strong>
Songs
            </p>
          </pre>
        </div>
      </div>
      <div class="login-form">
        <!-- <h1>B</h1> -->
        <img
          src="/images/undraw_music_re_a2jk.svg"
          alt="music-svg"
          class="music-svg"
        />
      </div>
    </section>
    <footer class="footer"></footer>

</body>
</html>